<div class="container">
  <strong>Your WebID:</strong>
  <code>{{webId}}</code>
  (<a href="/logout">
    Logout
  </a>)
</div>

{{> viewers/container}}

<div class="container">
  (<a href="/account/delete/">
  <span>Delete account</span>
</a>)
</div>
