# Keep this in sync with .npmignore
*.swp
*~
/.idea
/.nyc_output
/.tern-port
/.db
/accounts
/config.json
/config.js
/config.dev.js
/config.live.js
/config.prod.js
/config.test.js
/config.multi.js
/config.single.js
/data
/coverage
/node_modules
/npm-debug.log
package-lock.json
/test/resources/temp
