<form method="post" action="/login/password">
  <div class="row">
    <div class="col s1">
      <i class="material-icons prefix">account_circle</i>
    </div>
    <div class="col s11">
      <label for="username">Username:</label>
      <input placeholder="alice" id="username" name="username" type="text">
    </div>
  </div>

  <div class="row">
    <div class="col s1">
      <i class="material-icons prefix">vpn_key</i>
    </div>
    <div class="col s8">
      <label for="password">Password:</label>
      <input id="password" name="password" type="password">
    </div>

    <div class="col s3">
      <a class="waves-effect waves-light btn-small green"
        href="/account/password/reset{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
      Forgot password
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col s1"></div>

    <div class="col s11">
      <button type="submit" class="waves-effect waves-light btn-large green darken-3" id="login">
        Log In
        <i class="material-icons right">send</i>
      </button>

      {{> auth/auth-hidden-fields}}
    </div>
  </div>
</form>
