<script src="/common/js/ready.js"></script>

<div class="container">
  <h2 class="header center">Login</h2>
</div>

<div class="container">
  {{#if error}}
    <div class="row">
      <div class="col s12">
        <p class="text-danger"><strong>{{error}}</strong></p>
      </div>
    </div>
  {{/if}}

  <div class="row">
    <div class="col s12">
      {{> auth/login-username-password}}
    </div>
  </div>

  <div class="row">
    <div class="col s1"></div>

    <div class="col s10">
      <h5>Don't have an account?</h5>
      <a class="waves-effect waves-light btn-small green"
         href="{{{registerUrl}}}">
        Register
      </a>
    </div>
  </div>
</div>
