<form id="loginPasswordForm" method="post" action="/login/password">
  <div class="row">
    <div class="col s12 red lighten-4 hide" id="errorMessage"></div>
  </div>

  <div class="row">
    <div class="col s1">
      <i class="material-icons prefix">account_circle</i>
    </div>
    <div class="col s11">
      <label for="username">Username:</label>
      <input placeholder="alice" id="username" name="username" type="text">
    </div>
  </div>

  <div class="row">
    <div class="col s1">
      <i class="material-icons prefix">vpn_key</i>
    </div>
    <div class="col s8">
      <label for="password">Password:</label>
      <input id="password" name="password" type="password">
    </div>

    <div class="col s3">
      <a class="waves-effect waves-light btn-small green"
        href="/account/password/reset{{#if returnToUrl}}?returnToUrl={{{returnToUrl}}}{{/if}}">
      Forgot password
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col s1"></div>

    <div class="col s11">
      <button type="button" class="waves-effect waves-light btn-large green darken-3" id="loginBtn">
        Log In
        <i class="material-icons right">send</i>
      </button>

      <div class="loadingio-spinner-gear-kznxtisnhx hide" id="spinner"><div class="ldio-ny0qf724px9">
        <div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div></div>
    </div>
  </div>
</form>

<script>
  function resetMainButton () {
    document.getElementById('loginBtn').disabled = ''
    document.getElementById('spinner').classList.add('hide')
  }

  async function submitForm () {
    document.getElementById('loginBtn').disabled = 'disabled'
    document.getElementById('spinner').classList.remove('hide')
    document.getElementById('errorMessage').classList.add('hide')

    console.log('Login/submitForm: triggered.')

    const formData = {}
    for (const field of ['username', 'password']) {
      formData[field] = document.getElementById(field).value
    }
    {{#if returnToUrl}}formData.returnToUrl = '{{{returnToUrl}}}'{{/if}}

    try {
      const response = await fetch('/login/password', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(formData)
      })


      if (!response.ok) {
        const error = new Error('Login error.')
        error.cause = await response.json()
        throw error
      }

      const responseData = await response.json()
      const redirectUrl = responseData.redirect || '/'
      console.log('Login form result from server:', responseData)

      console.log('Redirecting to:', redirectUrl)

      window.location.href = redirectUrl
    } catch (e) {
      resetMainButton()
      const cause = e.cause || {}
      let errorMessage = cause.message || e.message
      if (errorMessage === 'Failed to fetch') {
        errorMessage = 'Could not reach the server.'
      }
      document.getElementById('errorMessage').innerHTML = errorMessage
      document.getElementById('errorMessage').classList.remove('hide')
      console.error(e)
    }
  }

  onDocumentReady(() => { // from /common/js/ready.js
    document.getElementById('loginBtn')
      .addEventListener('click', submitForm)
  })
</script>
